.home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
   
    
}
.box-1{
    
    width: 50%;
    padding: 40px 80px;
   


}
.span-heading{
    color: red;
}
.img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img img{
    width: 90%;
    height: 90%;
    

}
.btn{
    padding: 12px;
    border: none;
    
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2)

}
.Heading{
    font-size: 40px;
    color: aliceblue;
}
.button{
    margin-top: 40px;
}
.button .btn{
    color: aliceblue;
}
#img{
    width: 40%;
}
#box-1{
    width: 60%;
    padding-top: 80px;
    
    
}
#Heading{
    text-align: center;
}
.paragraph{
    font-size: 30px;
    color:  white;
    padding: 22px 60px;
    
}
#home{
    display: flex;
    
    
    justify-content: center;
    width: 100%;
    height: 100vh;

}
