#paragraph{
    font-size: 20px;
    color:  white;
    padding: 20px ;

}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 10px 40px;

}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
