*{
  margin: 0;
  padding: 0;box-sizing: border-box;
  
}
body{
  width: 100%;
  height: 100%;
  /* background-color: #000; */
  background-image: url('https://raw.githubusercontent.com/19sajib/portfolio/refs/heads/main/src/assets/home-bg.jpg');
   background-size: cover;  
   background-position: center;  
  background-repeat: no-repeat;
  background-color:#000 
}
