.about {
    display: flex;
    flex-direction: column; /* Keeps content stacked vertically */
    width: 100%;
    height: 100%;
    padding-left: 40px;
    box-sizing: border-box; /* Ensures padding is included in the width/height */
}

.container-about {
    display: flex;
    flex-wrap: wrap; /* Allows the children to wrap */
    gap: 20px; /* Adds a consistent gap between the skill elements */
    padding-top: 10px;
    justify-content: center; /* Center aligns the skills inside the container */
    box-sizing: border-box;
}