*{
  margin: 0;
  padding: 0;box-sizing: border-box;
  
}
body{
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url('https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
   background-size: cover;  
   background-position: center;  
  background-repeat: no-repeat;
  background-color:#000 
}
